<!--div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>-->
<div class="panel panel-primary">
  <div class="panel-heading text-center">
      {{title}}
  </div>
  <div class="row show-hide-message" *ngIf="successMessage">
      <div class="alert alert-success">{{successMessage}}</div>
    </div>
    <div class="row show-hide-message" *ngIf="failMessage">
      <div class="alert alert-danger">{{failMessage}}</div>
    </div>
  <div class="panel-body"  >
      <div class="row" >
          <img src="./favicon.ico" 
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px"/>
      </div>
      <div>
      <form class="form-inline" #frm="ngForm"
		(ngSubmit)="saveUser(frm)">
      <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6 text-center">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                  <div class="form-group">
                      <label for="ex3">User Name</label><br>
                      <input class="form-control" name="userName" value="" type="text" [(ngModel)]="userName"><br><br>
                  </div><br>
                  <div class="form-group">
                      <label for="">Stock Names</label><br>
                      <input class="form-control" name="quotes" value="" type="text" ngModel><br><br>
                  </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
            
            <div class="form-group">
              <button type="submit" name="button" class="btn btn-primary">Save User</button><br><br>
              <button type="button" class="btn btn-info" (click) = "getStocks()">Get Stocks</button>
            </div>
          </div>
          <div class="col-lg-3"></div>
      </div>
    </form><br><br>
  </div>
      <div class="row"  >
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <table class='table' *ngIf="toggleQuotes">
            <thead>
              <tr>
                <th class="text-center">Company Name</th>
                <th class="text-center">Stock Price</th>
              </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor='let stock of stockList'>
                    <td>{{stock.quote}}</td>
                    <td>{{stock.price}}</td>
                    <td><button type="button" name="button" class="btn btn-primary" (click) = "saveStock(stock)" >Save Stock</button></td>
                </tr>
              </tbody>
          </table>
          <button type="button" name="button" class="btn btn-primary" (click) = "getStockHistory()" >Show Stock History</button>
        </div>
        <div class="col-lg-3"></div>
      </div><br><br>
      <div class="row" *ngIf="toggleHistory">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <table class='table'>
            <thead>
              <tr>
                <th class="text-center">User Name</th>
                <th class="text-center">Company Name</th>
                <th class="text-center">Stock Price</th>
                <th class="text-center">Stock Date</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor='let stocks of stocksFromStock'>
                  <td>{{stocks.userName}}</td>
                  <td>{{stocks.quoteName}}</td>
                  <td>{{stocks.price}}</td>
                  <td>{{stocks.stockDate  | date}}</td>
              </tr>
            </tbody>
        </table>
        </div>
        <div class="col-lg-3"></div>
      </div>
      <div class="row"  >
          <div class="text-center">Developed by:</div>
          <h4 class="text-center">Nagarjuna Kuppala</h4>
          <h4 class="text-center">Sarath Madala</h4>
          <h4 class="text-center">Pruthvi Pulluru</h4>

         <!-- <div class="text-center">@nagarjunakuppala</div>
          <div class="text-center">
              <a href="https://www.linkedin.com/in/nagarjunakuppala/">LinkedIn</a>
          </div>-->
      </div>
  </div>
  
</div>
